# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
parser
*.d
solution.*
./solver/bottom-left-heuristic-master/items.txt
./solver/bottom-left-heuristic-master/kiln_very_high.txt

#lockers
.~lock.*

#pdf
*.pdf
